.container {
    text-align: center; /* Center-align the content within the container */
}

.empty-cart-message {
    margin-top: 50px; /* Add top margin for spacing */
    margin-bottom: 20px; /* Add bottom margin for spacing */
    font-size: 24px; /* Font size */
}

.empty-cart-image {
    margin-top: 20px; /* Add top margin for spacing */
    margin-bottom: 20px; /* Add bottom margin for spacing */
    max-width: 200px; /* Set a fixed maximum width for the image */
    margin-left: auto; /* Align the image to the left */
    margin-right: auto; /* Align the image to the right */
    display: block; /* Ensure the image is displayed as a block element */
    text-align: center; /* Center-align the content within the container */
    background-image: url('images/emptycart.jpg'); /* Set the initial background image */
    background-size: cover; /* Ensure the background image covers the container */
    background-position: center; /* Center-align the background image */
    transition: background-image 0.5s ease; /* Add a transition effect */
}

.empty-cart-image.hover {
    background-image: url('images/addtocart.jpg');
    transition: background-image 0.5s ease; /* Add transition effect */
}

.view-products-button {
    margin-top: 20px; /* Add top margin for spacing */
    margin-bottom: 20px; /* Add bottom margin for spacing */
    background-color: #5e8f94; /* Background color */
    color: #fff; /* Text color */
    padding: 8px 15px; /* Padding */
    border: none; /* Remove border */
    cursor: pointer; /* Add cursor pointer on hover */
    border-radius: 5px; /* Add border-radius for rounded corners */
}

main .cart table {
    width: 100%;
    border-collapse: collapse;
}

main .cart table thead th,
main .cart table tbody td {
    padding: 10px;
    border-bottom: 1px solid #EEEEEE;
}

main .cart table td {
    text-align: center;
}

main .cart table input[type="number"] {
    width: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    color: #555555;
    border-radius: 5px;
}

main .cart .subtotal {
    text-align: right;
    padding: 20px 0;
}

main .cart .subtotal .text {
    padding-right: 20px;
    font-size: 18px;
}

main .cart .subtotal .price {
    font-size: 18px;
    color: #999999;
}

main .cart .buttons {
    text-align: center;
    padding-top: 20px;
}

main .cart .buttons input[type="submit"],
main .cart .buttons button {
    margin: 0 5px;
    padding: 10px 20px;
    border: 0;
    background: cornflowerblue;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

main .cart .buttons input[type="submit"]:hover,
main .cart .buttons button:hover {
    background: orchid;
}
