.container {
    text-align: center;
}

.empty-cart-message {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 24px;
}

.empty-cart-image {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    background-image: url('images/emptycart.jpg');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease; /* Add a transition effect on transform */
}

.empty-cart-image:hover {
    transform: scale(1.1); /* Apply scale transformation on hover */
    background-image: url('images/addtocart.jpg'); /* Change background image */
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* Start with opacity 0 */
        background-image: url('images/emptycart.jpg'); /* Initial background image */
    }
    100% {
        opacity: 1; /* End with opacity 1 */
        background-image: url('images/addtocart.jpg'); /* Change background image */
    }
}


.view-products-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #5e8f94;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.cart table td {
    text-align: center;
    vertical-align: middle; /* Add this line */
}

.cart table th {
    text-align: center;
    vertical-align: middle; /* Add this line */
}

/* Cart heading */
.cart-container h1 {
    display: block;
    font-weight: normal;
    margin: 0;
    padding: 40px 0;
    font-size: 24px;
    text-align: center;
    width: 100%;
}

/* Cart items table */
.cart-container .cart-items table {
    width: 100%;
}

.cart-container .cart-items table thead th {
    padding: 30px 0;
    border-bottom: 1px solid #EEEEEE;
    text-align: left;
}

.cart-container .cart-items table thead th:nth-child(1),
.cart-container .cart-items table thead th:nth-child(2) {
    width: 25%;
}

.cart-container .cart-items table thead th:nth-child(3),
.cart-container .cart-items table thead th:nth-child(4),
.cart-container .cart-items table thead th:nth-child(5) {
    width: 15%;
}

.cart-container .cart-items table tbody td {
    padding: 20px 0;
    border-bottom: 1px solid #EEEEEE;
    text-align: left; /* Center content horizontally */
    vertical-align: middle; /* Center content vertically */
}

/* Cart items table */
.cart-container .cart-items table tbody td h2 {
    font-size: 16px; /* Adjust the font size as needed */
}

.cart-container .cart-items table tbody td:nth-child(1),
.cart-container .cart-items table tbody td:nth-child(2) {
    width: 25%;
}

.cart-container .cart-items table tbody td:nth-child(3),
.cart-container .cart-items table tbody td:nth-child(4),
.cart-container .cart-items table tbody td:nth-child(5) {
    width: 15%;
}

/* Cart subtotal */
.cart-container .subtotal {
    text-align: right;
    padding: 40px 0;
}

.cart-container .subtotal .text {
    padding-right: 40px;
    font-size: 18px;
}

.cart-container .subtotal .price {
    font-size: 18px;
    color: #999999;
}

/* Cart buttons */
.cart-container .buttons {
    text-align: right;
    padding-bottom: 40px;
}

.cart-container .buttons input[type="submit"],
.cart-container .buttons button {
    margin-left: 5px;
    padding: 12px 20px;
    border: 0;
    background: cornflowerblue;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.cart-container .buttons input[type="submit"]:hover,
.cart-container .buttons button:hover {
    background: #223656;
}
