.placeorder.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to full viewport height */
}

.placeorder.content-wrapper h1 {
    font-size: 24px;
    margin: 0 0 20px; /* Add some bottom margin */
}

.placeorder.content-wrapper p {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.tick-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Add some margin below the tick image */
}

.tick-icon {
    display: none; /* Hide the tick icon */
}

.tick-container img {
    width: 40px;
    height: 40px;
    /* You can adjust other styling properties such as background-color if needed */
}

.placeorder {
    text-align: center;
    margin-top: 50px;
}
