        .card-header .btn-link {
            color: inherit;
            /* Or set to your original header text color */
            text-decoration: none;
            font-weight: bold;
            /* Optional: if your original headers are bold */
        }

        .card-header .btn-link:hover,
        .card-header .btn-link:focus {
            text-decoration: none;
            color: inherit;
            /* Or a color of your choice for hover state */
            background-color: transparent;
        }

        /* Base table styles */
        .table {
            width: 100%;
            border-collapse: collapse;
        }

        .table th,
        .table td {
            text-align: center;
            border: 1px solid #ddd;
            padding: 8px;
        }

        /* Styles for booked and available slots */
        .booked,
        .available {
            padding: 10px;
            cursor: pointer;
            margin: 5px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .booked {
            background-color: #ffcccc;
            /* Light red for booked slots */
        }

        .available {
            background-color: #ccffcc;
            /* Light green for available slots */
        }

        /* Hover effect to indicate interactivity */
        .booked:hover,
        .available:hover {
            background-color: #dddddd;
        }

        /* Adjusts the header */
        .table th {
            background-color: #f2f2f2;
        }

        @media only screen and (max-width: 760px),
        (min-device-width: 802px) and (max-device-width: 1020px) {

            /* Force table to not be like tables anymore */
            table,
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;

            }



            .empty {
                display: none;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            th {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr {
                border: 1px solid #ccc;
            }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
            }



            /*
        Label the data
        */
            td:nth-of-type(1):before {
                content: "Sunday";
            }

            td:nth-of-type(2):before {
                content: "Monday";
            }

            td:nth-of-type(3):before {
                content: "Tuesday";
            }

            td:nth-of-type(4):before {
                content: "Wednesday";
            }

            td:nth-of-type(5):before {
                content: "Thursday";
            }

            td:nth-of-type(6):before {
                content: "Friday";
            }

            td:nth-of-type(7):before {
                content: "Saturday";
            }


        }

        .scroll {
            max-height: 100px;
            overflow-y: auto;
        }

        .alert {
            transition: opacity 0.5s ease; /* Smooth transition for the opacity change */
            opacity: 1; /* Start fully visible */
        }
        .fade-out {
            opacity: 0; /* End state: fully transparent */
            visibility: hidden;
            transition: visibility 0s 0.5s, opacity 0.5s linear; /* Delay visibility change to match opacity transition */
        }
        
        /* Smartphones (portrait and landscape) ----------- */

        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            body {
                padding: 0;
                margin: 0;
            }
        }

        /* iPads (portrait and landscape) ----------- */

        @media only screen and (min-device-width: 802px) and (max-device-width: 1020px) {
            body {
                width: 495px;
            }
        }

        @media (min-width:641px) {
            table {
                table-layout: fixed;
            }

            td {
                width: 33%;
            }
        }

        .row {
            margin-top: 20px;
        }

        .today {
            background-color: #FFFF00;
            /* Yellow background for today */
            font-weight: bold;
        }